{{> head}}


    {{> navbar }}
      
    <div class="row">

        <div class="col-8">
            <h1>Perrito</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ut nisi earum voluptas repudiandae saepe rem modi, ea quis doloribus nostrum perferendis, voluptatum non eligendi quia sunt eos. Nihil, possimus?
            </p>
        </div>

        <div>
            <img src="assets/img/minisofi_3.jpg" class="img-thumbnail"> 
        </div>

    </div>

      {{> footer}}